ipython
ollama
pandas
pydantic
python-dotenv
langchain
langchain_community
langchain-ollama
langchain_huggingface
langchain_text_splitters
rank-bm25
huggingface_hub
nltk
transformers
ipywidgets
sentence-transformers
peft
chromadb
pandas